<div class="container-fluid">
  
  <div class="row justify-content-center">
    
    <div class="col-lg-4 col-md-6"><br>
      <div class="text-center">
        <% if params[:plan] == '8' %>
          <h1>Premium Account</h1>
          <p>Sign up for premium account for £5/month</p>
        <% else %>
          <h1>Basic Account</h1>
          <p>Sign up for free and get basic access to this site and our community.</p>
        <% end %>
      </div>
      
      <h2 class="text-center">Sign up</h2>
      <% if params[:plan] == '8' %>
        <%= render "premium_form" %>
      <% else %>
        <%= render "basic_form" %>
      <% end %>
    </div>
     
  </div>
  
</div>