<div class="row">
  <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3"><br>
    <h2 class="text-center">Reset your password</h2>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>
      <br>
      <p class="text-center">Enter your email address below and we will send you a link to reset your password.</p>
      <div class="form-group">
        <%= f.email_field :email, autofocus: true, placeholder: 'Email Address', class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.submit "Send password reset email", class: 'btn btn-primary btn-block btn-lg' %>
      </div>
    <% end %>
    <div class="text-center">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>