<div class="container-fluid">
  <div class="row home-callout text-center">
    <div class="col-12">
      <h1>Welcome to Check a School Community!</h1>
      <p>Community is the place where you can freely discuss any school in England with our other members.</p>
    </div>
  </div>
   <div class="col-md-12 school school"></div>
</div>