<div class="home-callout text-center">
  <h1>Welcome to Check a School</h1>
  <h4>A membership site where you can check any school in England <br>and discuss it freely with other members.</h4>
</div>

<div class="container-fluid">
<div class="row justify-content-center home">
  
  <div class="col-md-4 home-signup-links">
    <div class="card">
      <div class="card-header"><h3 class="text-center">Free Membership</h3></div>
      <div class="card-body">
        <h5 class="text-center">Sign up for free and get basic access to this site and our community.</h5>
        <%= link_to "Sign up with Basic", new_user_registration_path(plan: @basic_plan.id), class: 'btn btn-primary btn-lg btn-block' %>
      </div>
    </div>
  </div>
  <div class="col-md-4 home-signup-links">
    <div class="card">
      <div class="card-header"><h3 class="text-center">Premium Membership</h3></div>
      <div class="card-body">
        <h5 class="text-center">Get premium account for a full access to this site and many extras.</h5>
        <%= link_to "Sign up with Premium", new_user_registration_path(plan: @premium_plan.id), class: 'btn btn-success btn-lg btn-block' %>
      </div>
    </div>
  </div>

</div>
</div>