<div class="container-fluid">
    
  <div class="row">
    <div class="col-md-4 offset-md-4">
  
  <%= form_with(model: school, local: true) do |form| %>
  
  <form>
    <% if school.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(school.errors.count, "error") %> prohibited this school from being saved:</h2>
  
        <ul>
        <% school.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="form-group-row">
      <%= form.label :urn, class: "col-form-label" %>
      <%= form.text_field :urn, id: :school_urn, class: "form-control" %>
    </div>
    
    <div class="form-group-row">
      <%= form.label :la %>
      <%= form.text_field :la, id: :school_la, class: "form-control" %>
    </div>
  
    <div class="form-group-row">
      <%= form.label :name %>
      <%= form.text_field :name, id: :school_name, class: "form-control" %>
    </div>
  
    <div class="form-group-row">
      <%= form.label :other_name %>
      <%= form.text_field :other_name, id: :school_other_name, class: "form-control" %>
    </div>
  
    <div class="form-group-row">
      <%= form.label :street %>
      <%= form.text_field :street, id: :school_street, class: "form-control" %>
    </div>
  
    <div class="form-group-row">
      <%= form.label :locality %>
      <%= form.text_field :locality, id: :school_locality, class: "form-control" %>
    </div>
  
    <div class="form-group-row">
      <%= form.label :address3 %>
      <%= form.text_field :address3, id: :school_address3, class: "form-control" %>
    </div>
  
    <div class="form-group-row">
      <%= form.label :town %>
      <%= form.text_field :town, id: :school_town, class: "form-control" %>
    </div>
  
    <div class="form-group-row">
      <%= form.label :postcode %>
      <%= form.text_field :postcode, id: :school_postcode, class: "form-control" %>
    </div>
  
    <div class="form-group-row">
      <%= form.label :telnum %>
      <%= form.number_field :telnum, id: :school_telnum, class: "form-control" %>
    </div>
  
    <div class="form-group-row">
      <%= form.label :minorgroup %>
      <%= form.text_field :minorgroup, id: :school_minorgroup, class: "form-control" %>
    </div>
  
    <div class="form-group">
      <%= form.label :nftype %>
      <%= form.text_field :nftype, id: :school_nftype, class: "form-control" %>
    </div>
  
    <div class="form-check">
      <%= form.label :isprimary, class: "form-check-label" %>
      <%= form.check_box :isprimary, id: :school_isprimary, class: "form-check-input" %>
    </div>
  
    <div class="form-check">
      <%= form.label :issecondary, class: "form-check-label" %>
      <%= form.check_box :issecondary, id: :school_issecondary, class: "form-check-input" %>
    </div>
  
    <div class="form-check">
      <%= form.label :ispost16, class: "form-check-label" %>
      <%= form.check_box :ispost16, id: :school_ispost16, class:"form-check-input" %>
    </div>
  
    <div class="form-group-row">
      <%= form.label :agel %>
      <%= form.number_field :agel, id: :school_agel, class: "form-control" %>
    </div>
  
    <div class="form-group-row">
      <%= form.label :ageh %>
      <%= form.number_field :ageh, id: :school_ageh, class: "form-control" %>
    </div>
  
    <div class="form-group-row">
      <%= form.label :gender %>
      <%= form.text_field :gender, id: :school_gender, class: "form-control" %>
    </div>
  
    <div class="form-group-row">
      <%= form.label :reldenom %>
      <%= form.text_field :reldenom, id: :school_reldenom, class: "form-control" %>
    </div>
  
    <div class="form-group-row">
      <%= form.label :admpol %>
      <%= form.text_field :admpol, id: :school_admpol, class: "form-control" %>
    </div><br>
  
    <div>
      <%= form.submit "Save changes", class: "btn btn-primary" %>
    </div>
  <% end %>
  
  </form>
  </div>
  </div>

</div>