<div class="col"><br>
  <h1 class="text-center">Edit School</h1>
  <%= render 'form', school: @school %>
  <p class="text-center">
    <%= link_to 'Show', @school %> |
    <%= link_to 'Back', schools_path %>
  </p>
</div>