<div class="container-fluid">
  <div class="row">
    
    <div class="col-12">
      <%= tag.div nil, id: 'map', data: { schools: @schools.to_json(methods: [:address]), l: params[:l] } %>
    </div>
    
    </div>
    
    <div class="row h-100">
      
    <div class="col-md-4 offset-md-2 my-auto"><br>
      <%= button_to "Redo search in this area to view more schools", "#", id: "redo-search", 
      class: "btn btn-outline-primary btn-block btn-lg" %>
    </div>
    
    
    <div class= "col-md-5 my-auto"><br>
      <%= form_tag schools_path, method: :get, class: "form-inline" do %>
        <%= text_field_tag :keyword, params[:keyword], placeholder: 'Enter school name or its part', 
        class: "form-control form-control-lg mr-sm-2 col-md-8  text-center" %>
        <%= submit_tag 'Search', class: "btn btn-outline-success btn-lg my-2 my-sm-0" %>
      <% end %>
    </div>
    
    <div class="col-md-12"><br>
      <% if params[:keyword] && !@schoolz.empty? %>
      
        <% if @schoolz.count == 50 %>
          <p class="text-center">We have found more than 50 schools, only first 50 schools are shown below. 
          Please try anohter search or use search by location form on top.</p>
          <% @schoolz.each do |school| %>
          |<%= link_to school.name, school_path(school), target: :_blank %> |
          <% end %>
          
         <% elsif params[:keyword] && !@schoolz.empty? && @schoolz.count == 1 %>
          <p class="text-center">We have found a school as follows:
          <% @schoolz.each do |school| %>
          <%= link_to school.name, school_path(school), target: :_blank %> </p>
          <% end %>
        
        <% else %> 
          <p class="text-center">We have found <%= @schoolz.count %> schools as follows:</p>
          <% @schoolz.each do |school| %>
          | <%= link_to school.name, school_path(school), target: :_blank %> |
          <% end %>
        <% end %>
       
      <% elsif params[:keyword]  %>
         <p class="text-center">Nothing is found. Please try another search or search by location using the form on top. 
         Alternatively, search on the map by zooming in and out and dragging the map.</p>
      <% end %>
      
    </div>

  </div>
</div>
