<div class="container-fluid">

  <div class="row">
  
    <div class="col-md-7"><br>
      <h2><%= @schools[0].name %></h2>
    </div>
    
    <div class="col-md-3" id="admin-options"><br>
      <% if user_signed_in? && current_user.admin %>
      <h4><span class="badge badge-danger">Admin options</span></h4>
      <%= link_to 'Edit', edit_school_path(@schools[0]) %> |
      <%= link_to 'Back', schools_path %> |
      <%= link_to 'Destroy', school_path(@schools[0]),
      method: :delete,
      data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>    
    
    <div class="col-md-2"><br>
      <% unless @schools[0].nftype == "Other Independent School" %>
        <%= button_to "View Ofstead Report", 
        "https://reports.ofsted.gov.uk/inspection-reports/find-inspection-report/provider/ELS/#{@schools[0].urn}", 
        form: {target: '_blank'}, class: "btn btn-primary" %>
      <% else %>
        <%= button_to "Find ISI Report",
        "https://www.isi.net/reports/",
        form: {target: '_blank'}, class: "btn btn-success" %> 
      <% end %>
      <br>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-4">
      <table class="table table-bordered table-striped table-sm">
      <tr class="info"><td colspan="2" class="text-center"><strong>General information</strong></td></tr>
      <tr>
      <td><strong>Urn:</strong></td>
      <td><%= @schools[0].urn %></td>
      </tr>
      
      <tr>
      <% if @schools[0].urn_ac > @schools[0].urn %>
      <td><strong>New academy URN:</strong></td>
      <td><strong><%= link_to @schools[0].urn_ac, school_path(@schools[0].urn_ac) %></strong></td>
      <% elsif @schools[0].urn_ac == 0  %>
      <td><strong>Other URN:</strong></td>
      <td>n/a</td>
      <% else @schools[0].urn_ac < @schools[0].urn %>
      <td><strong>Other (previous) URN:</strong></td>
      <td><strong><%= link_to @schools[0].urn_ac, school_path(@schools[0].urn_ac) %></strong></td>
      <% end %>
      </tr>
      
      <tr>
      <td><strong>Local authority code:</strong></td>
      <td><%= @schools[0].la %></td>
      </tr>
      
      <tr>
      <td><strong>School name:</strong></td>
      <td><%= @schools[0].name %></td>
      </tr>
      
      <tr>
      <td><strong>Other name:</strong></td>
      <% if @schools[0].other_name %>
      <td><%= @schools[0].other_name %></td>
      <% else %>
      <td>None</td>
      <% end %>
      </tr>
      
      <tr>
      <td><strong>Street address:</strong></td>
      <td><%= @schools[0].street %></td>
      </tr>
      
      <tr>
      <td><strong>Locality:</strong></td>
      <td><%= @schools[0].locality %></td>
      </tr>
      
      <tr>
      <td><strong>Address line 3:</strong></td>
      <td><%= @schools[0].address3 %></td>
      </tr>
      
      <tr>
      <td><strong>Town:</strong></td>
      <td><%= @schools[0].town %></td>
      </tr>
      
      <tr>
      <td><strong>Postcode:</strong></td>
      <td><%= @schools[0].postcode %></td>
      </tr>
      
      <tr>
      <td><strong>Telephone:</strong></td>
      <td> <%= @schools[0].telnum %></td>
      </tr>
      
      <tr>
      <td> <strong>Schools group:</strong></td>
      <td> <%= @schools[0].minorgroup %></td>
      </tr>
      
      <tr>
      <td> <strong>Type:</strong></td>
      <td> <%= @schools[0].nftype %></td>
      </tr>
      
      <tr>
      <td><strong>Is primary:</strong></td>
      <td> <%= @schools[0].isprimary %></td>
      </tr>
      
      <tr>
      <td><strong>Is secondary:</strong></td>
      <td><%= @schools[0].issecondary %></td>
      </tr>
      
      
      <tr>
      <td><strong>Is post16:</strong></td>
      <td><%= @schools[0].ispost16 %></td>
      </tr>
      
      <tr>
      <td><strong>Age:</strong></td>
      <td><%= @schools[0].agel %> - <%= @schools[0].ageh %></td>
      </tr>
      
      <tr>
      <td><strong>Gender:</strong></td>
      <td><%= @schools[0].gender %></td>
      </tr>
      
      <tr>
      <td><strong>Religious denomination:</strong></td>
      <td><%= @schools[0].reldenom %></td>
      </tr>
      
      <tr>
      <td><strong>Admission policy:</strong></td>
      <td><%= @schools[0].admpol %></td>
      </tr>

      </table>
    </div>
    
    <div class="col-md-8">
      <%= tag.div nil, id: 'map', data: { schools: @schools.to_json(methods: [:address]) } %><br>
      <div class="text-center">
        <%= button_to "Redo search in this area to view more schools", "#", id: "redo-search", 
        class: "btn btn-outline-secondary my-2 my-sm-0 " %>
      </div>
    </div>
    
  </div>
  
  <div class="row">
     <% unless @schools[0].ks2result.nil? %>

    <div class="col-md-6"><br>
      <h5 class="text-center">Pupils meeting expected standard in reading, writing and maths</h5>
      <div id="chart1">
        <%= bar_chart @data1, label: "Percentage", min: 0, max: 100, xtitle: "Percentage", suffix: "%",  
        height: "200px" %>
      </div>
    </div>
    
    <div class="col-md-6"><br>
      <h5 class="text-center">Pupils achieving at a higher standard in reading, writing and maths</h5>
      <div id="chart2">
        <%= bar_chart @data2, label: "Percentage", min: 0, max: 100, xtitle: "Percentage", suffix: "%", 
        height: "200px" %>
      </div>
    </div>
    
  </div>
 
  <div class="row">
  
    <div class="col-md-6">
      <h5 class="text-center">Average score in maths</h5>
      <div id="chart">
        <%= bar_chart @data3, label: "Score", min: 80, max: 120, xtitle: "Score", height: "200px" %>
      </div>
    </div>
    
    <div class="col-md-6"><br>
      <h5 class="text-center">Average score in reading</h5>
      <div id="chart3">
        <%= bar_chart @data4, label: "Score", min: 80, max: 120, xtitle: "Score", height: "200px" %>
      </div>
    </div>
    
  </div>
 
  <div class="row">
  
    <div class="col-md-12"><br>
      <h3 class="text-center">Progress score in reading, writing and maths</h3>
    </div>
    
    <div class="col-md-4">
      <h5 class="text-center">Reading</h5>
    
      <div class="card">
        <% if @schools[0].ks2result.read_progress  < -2.4 %>
          <div class="card-body well-below  text-center">
            <strong> WELL BELOW AVERAGE (<%= @schools[0].ks2result.read_progress %>) </strong>
          </div>
        <% elsif @schools[0].ks2result.read_progress < -0.2 && @schools[0].ks2result.read_progress > -2.4%>
          <div class="card-body below  text-center">
            <strong> BELOW AVERAGE (<%= @schools[0].ks2result.read_progress %>)</strong>
          </div> 
        <% elsif @schools[0].ks2result.read_progress > 2.4 && @schools[0].ks2result.read_progress < 3.4 %>
          <div class="card-body above  text-center">
            <strong> ABOVE AVERAGE (<%= @schools[0].ks2result.read_progress %>)</strong>
          </div> 
        <% elsif @schools[0].ks2result.read_progress > 3.4 && @schools[0].ks2result.read_progress < 5.6 %>
          <div class="card-body well-above  text-center">
            <strong> WELL ABOVE AVERAGE (<%= @schools[0].ks2result.read_progress %>)</strong>
          </div> 
        <% else %>
          <div class="card-body average  text-center">
            <strong> AVERAGE (<%= @schools[0].ks2result.read_progress %>)</strong>
          </div> 
        <% end %>
      </div>
      
    </div>
    
    <div class="col-md-4">
      <h5 class="text-center">Writing</h5>
    
      <div class="card">
        <% if @schools[0].ks2result.write_progress  < -2.4 %>
          <div class="card-body well-below  text-center">
            <strong> WELL BELOW AVERAGE (<%= @schools[0].ks2result.write_progress %>) </strong>
          </div>
        <% elsif @schools[0].ks2result.write_progress < -1.2 && @schools[0].ks2result.write_progress > -2.4%>
          <div class="card-body below  text-center">
            <strong> BELOW AVERAGE (<%= @schools[0].ks2result.write_progress %>)</strong>
          </div> 
        <% elsif @schools[0].ks2result.write_progress > 0.2 && @schools[0].ks2result.write_progress < 2.9 %>
          <div class="card-body above  text-center">
            <strong> ABOVE AVERAGE (<%= @schools[0].ks2result.write_progress %>)</strong>
          </div>
        <% elsif @schools[0].ks2result.write_progress > 2.9 && @schools[0].ks2result.write_progress < 4.9 %>
          <div class="card-body well-above  text-center">
            <strong> WELL ABOVE AVERAGE (<%= @schools[0].ks2result.write_progress %>)</strong>
          </div> 
        <% else %>
          <div class="card-body average  text-center">
            <strong> AVERAGE (<%= @schools[0].ks2result.write_progress %>)</strong>
          </div> 
        <% end %>
      </div>
      
    </div>
    
    <div class="col-md-4">
      <h5 class="text-center">Maths</h5>
        <div class="card">
          <% if @schools[0].ks2result.mat_progress  < -2.4 %>
            <div class="card-body well-below  text-center">
              <strong> WELL BELOW AVERAGE (<%= @schools[0].ks2result.mat_progress %>) </strong>
            </div>
          <% elsif @schools[0].ks2result.mat_progress < -1.7 && @schools[0].ks2result.mat_progress > -2.4%>
            <div class="card-body below  text-center">
              <strong> BELOW AVERAGE (<%= @schools[0].ks2result.mat_progress %>)</strong>
            </div> 
          <% elsif @schools[0].ks2result.mat_progress > 0.7 && @schools[0].ks2result.mat_progress < 3.8 %>
            <div class="card-body above  text-center">
              <strong> ABOVE AVERAGE (<%= @schools[0].ks2result.mat_progress %>)</strong>
            </div> 
          <% elsif @schools[0].ks2result.mat_progress > 3.8 && @schools[0].ks2result.mat_progress < 5.8 %>
            <div class="card-body well-above  text-center">
              <strong> WELL ABOVE AVERAGE (<%= @schools[0].ks2result.mat_progress %>)</strong>
            </div> 
          <% else %>
            <div class="card-body average  text-center">
              <strong> AVERAGE (<%= @schools[0].ks2result.mat_progress %>)</strong>
            </div> 
          <% end %>
        </div>
    </div>

    <% end %>
    <br>
    
  </div>

  <div class="row">
    <% unless @schools[0].ks4result.nil? %>
    
    <div class="col-md-4">
      <h4>Attainment 8 score</h4>
        <% if (@schools[0].ks4result.attain8_score - @attain8_score_local) > 10 %>
          <span class="badge well-above"> 
          <strong>WELL ABOVE AVERAGE (<%= @school.ks4result.attain8_score %>)</strong>
          </span>
        <% elsif @schools[0].ks4result.attain8_score > @attain8_score_local %>
          <span class="badge above"> 
          <strong>ABOVE AVERAGE (<%= @schools[0].ks4result.attain8_score %>)</strong>
          </span>
        <% elsif (@attain8_score_local - @schools[0].ks4result.attain8_score) > 10   %>
          <span class="badge well-below"> 
          <strong>WELL BELOW AVERAGE (<%= @schools[0].ks4result.attain8_score %>)</strong>
          </span>
        <% elsif @schools[0].ks4result.attain8_score < @attain8_score_local %>
          <span class="badge below"> 
          <strong>BELOW AVERAGE (<%= @schools[0].ks4result.attain8_score %>)</strong>
          </span>
        <% else %>
          <span class="badge average"> 
          <strong>AVERAGE (<%= @schools[0].ks4result.attain8_score %>)</strong>
          </span>
        <% end %> 
          <div id="chart4">
            <%= bar_chart @ks4_data1, label: "Score", min: 40, max: 60, xtitle: "Score", height: "200px" %>
          </div>
    </div>
    
    <div class="col-md-4">
      <h4> Grade 5 or above in English & maths GCSEs</h4>
        <% if (@schools[0].ks4result.grade5_or_above - @grade5_or_above_local.to_f) > 20 %>
          <span class="badge well-above"> 
          <strong>WELL ABOVE AVERAGE (<%= @schools[0].ks4result.grade5_or_above %>)</strong>
          </span>
        <% elsif @schools[0].ks4result.grade5_or_above > @grade5_or_above_local.to_f %>
          <span class="badge above"> 
          <strong>ABOVE AVERAGE (<%= @schools[0].ks4result.grade5_or_above %>)</strong>
          </span>
        <% elsif (@grade5_or_above_england.to_f - @schools[0].ks4result.grade5_or_above) > 10   %>
          <span class="badge well-below"> 
          <strong>WELL BELOW AVERAGE (<%= @schools[0].ks4result.grade5_or_above %>)</strong>
          </span>
        <% elsif @schools[0].ks4result.grade5_or_above < @grade5_or_above_england.to_f %>
          <span class="badge below"> 
          <strong>BELOW AVERAGE (<%= @schools[0].ks4result.grade5_or_above %>)</strong>
          </span>
        <% else %>
          <span class="badge average"> 
          <strong>AVERAGE (<%= @school[0].ks4result.grade5_or_above %>)</strong>
          </span>
        <% end %> 
        <div id="chart5">
          <%= bar_chart @ks4_data3, label: "Score", min: 0, max: 100, xtitle: "Percentage", height: "200px", suffix: "%" %>
        </div>
    </div>
    
    <div class="col-md-4">
      <h4>Progress 8 score</h4>
        <% if @schools[0].ks4result.prog8_score > 0.5 %>
          <span class="badge well-above"> 
          <strong>WELL ABOVE AVERAGE (<%= @schools[0].ks4result.prog8_score %>)</strong>
          </span>
        <% elsif @schools[0].ks4result.prog8_score > 0 && @schools[0].ks4result.prog8_score < 0.5 %>
          <span class="badge above"> 
          <strong>ABOVE AVERAGE (<%= @schools[0].ks4result.prog8_score %>)</strong>
          </span>
        <% elsif @schools[0].ks4result.prog8_score < -0.5   %>
          <span class="badge well-below"> 
          <strong>WELL BELOW AVERAGE (<%= @schools[0].ks4result.prog8_score %>)</strong>
          </span>
        <% elsif @schools[0].ks4result.prog8_score > -0.5 && @schools[0].ks4result.prog8_score < 0 %>
          <span class="badge below"> 
          <strong>BELOW AVERAGE (<%= @schools[0].ks4result.prog8_score %>)</strong>
          </span>
        <% else %>
          <span class="badge average"> 
          <strong>AVERAGE (<%= @schools[0].ks4result.prog8_score %>)</strong>
          </span>
        <% end %> 
          <div id="chart6">
            <%= column_chart @ks4_data2, label: "Score", min: -1, max: 1, xtitle: "Score", height: "200px" %>
          </div>
    </div>
    <% end %>
    
  </div>
<br>
</div>