@import "bootstrap";

#map {
    width: 100%;
    height: 510px;
}

.home {
  background-image: url("school1.svg");
}

.school {
  background-image: url("school.svg");
  min-height: 270px;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
 
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  // max-width: 680px;
  padding: 0 15px;
}


// styles for home page

.home-signup-links {
  margin-top:50px;
  margin-bottom:50px;
}

.home-callout {
  //Gradient provided by @_ighosh at uiGradients.com
  background: #00c6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #00c6ff , #0072ff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #00c6ff , #0072ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 100px 0 80px;
  color: #fff;
}

// imporving flash messages appearance

.flash-container {
  position: absolute;
  width: 100%;
  margin-top:30px;
}
.alert-notice, .alert-alert {
  text-align: center;
  color: #fff;
  font-weight: 600;
  background: rgba(255, 255, 255, 0.3);
  border-color: rgba(255, 255, 255, 0.5);
  
}

footer {
  font-size: 14px;
  text-align: center;
}

table {
  font-size: 12px;
}

table.borderless td,table.borderless th{
     border: none !important;
}

.well-above {
    background-color:#0AB150; 
}

.above {
    background-color:lightgreen; 
}

.average {
    background-color:yellow; 
}

.below {
    background-color:orange; 
}

.well-below {
    background-color: #ff4d4d; 
}

.form-check {
    display: flex;
    align-items: center;
}
.form-check-input {
    margin-top: 0px;
}