<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Check a School</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://use.fontawesome.com/releases/v5.0.9/css/all.css', integrity: "sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1", 
    crossorigin: "anonymous" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://js.stripe.com/v2/", type: 'text/javascript' %>
    <%= javascript_include_tag '//maps.google.com/maps/api/js?key=AIzaSyDDqbrGlAfIOKR8UVMRUO7IKKq5mWuSBE4' %>
    <%= javascript_include_tag "//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js" %>
    <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
  </head>
  
  <body>
    <%= render 'shared/navbar' %>
    
    <div class="flash-container">
      <% flash.each do |type, message| %> 
      <%= content_tag :div, message, class: "alert alert-#{type}" %>
      <% end %>
    </div>
    
    <%= yield %>
    <%= yield :charts_js %>
    <%= render 'shared/footer' %> 
    
  </body>
  
</html>